{%extends 'index.html'%}
{%load static%}

{% block title %}
OrderCart

    {% endblock title %}

    {% block discription  %}
{{setting.description}}
    
    {% endblock discription %}

    {% block keywords %}
    {% endblock keywords %}


    {% block header %}
    {%include "header.html"%}
    {% endblock header %}


{%block another_content%}


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">user</a>
                    <span>Details</span>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- Breadcrumb Section Begin -->


<!-- Shopping Cart Section Begin -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                <h1 class="text-center font-weight-bold" style="font-size: 30px;">User Panel</h1>
                {% include 'user_panel.html' %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 col-xs-12">
                        <table class="shopping-cart-table table">                            
                                <tr>
                                    <th class="text-left">Name Surname</th>
                                    <td class="text-left">{{ order.first_name}} {{ order.last_name}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Phone</th>
                                    <td class="text-left">{{ order.phone}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Addres</th>
                                    <td class="text-left">{{ order.address}} {{ order.city}} {{ order.country}} </td>
                                </tr>
                                <tr>
                                    <th class="text-left">Status</th>
                                    <td class="text-left">{{ order.status}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Date: </th>
                                    <td class="text-left">{{ order.created_at}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Shiping Info: </th>
                                    <td class="text-left">{{ order_products.amount}}</td>
                                </tr>
                            </table>
                    </div> 
                </div>                
                

                
    </div>
</div>

<!-- Shopping Cart Section End -->



{%endblock another_content%}


{% block footer %}
{%include "footer.html"%}
{% endblock footer %}