{%load static%}
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{%static ''%}img/products/women-large.jpg">
                    <h2>Saree’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Clothings</li>
                        <li>Tangail</li>
                        <li>Muslim</li>
                        <li>Jamdani</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {% for p in Latest_Clothings %}
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{p.ImageUrl}}" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="{%url 'Add_to_Shoping_cart' id=p.id%}"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="{%url 'product_single' id=p.id%}">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">{{p.Category}}</div>
                            <a href="#">
                                <h5>{{p.title}}</h5>
                            </a>
                            <div class="product-price">
                                ৳{{p.new_price}}
                                <span>৳{{p.old_price}}</span>
                            </div>
                        </div>
                    </div>                   
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="{%static ''%}img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                    consectetur adipisicing elit </p>
                <div class="product-price">
                    ৳00.00
                    <span>/ Tangail Cham Cham</span>
                </div>
            </div>
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>06</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>30</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>21</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {% for p in Latest_Clothings %}
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="{{p.ImageUrl}}" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="{%url 'Add_to_Shoping_cart' id=p.id%}"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="{%url 'product_single' id=p.id%}">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">{{p.Catagory}}</div>
                            <a href="#">
                                <h5>{{p.title}}</h5>
                            </a>
                            <div class="product-price">
                                ৳{{p.new_price}}
                                <span>৳00.00</span>
                            </div>
                        </div>
                    </div>                    
                    {% endfor %} 
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{%static ''%}img/products/man-large.jpg">
                    <h2>Sweet’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->


