{%extends 'index.html'%}
{%load static%}

{% block title %}
Product-Single

    {% endblock title %}

    {% block discription  %}
{{setting.description}}
    
    {% endblock discription %}

    {% block keywords %}
    {% endblock keywords %}


    {% block header %}
    {%include "header.html"%}
    {% endblock header %}


{%block another_content%}
    
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
        {% if messages %} {% for message in messages %}
         <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        <div>
        {% endfor %} {% endif %}
         </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Saree's</a></li>
                        <li><a href="#">Sweet's</a></li>
                        <li><a href="#">Other's</a></li>
                    </ul>
                </div>
               <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Decision Panding
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Decision Panding
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Decision Panding
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Decision Panding
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="filter-widget">
                    <h4 class="fw-title">Color</h4>
                    <div class="fw-color-choose">
                        <div class="cs-item">
                            <input type="radio" id="cs-black">
                            <label class="cs-black" for="cs-black">Black</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-violet">
                            <label class="cs-violet" for="cs-violet">Violet</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-blue">
                            <label class="cs-blue" for="cs-blue">Blue</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-yellow">
                            <label class="cs-yellow" for="cs-yellow">Yellow</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-red">
                            <label class="cs-red" for="cs-red">Red</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-green">
                            <label class="cs-green" for="cs-green">Green</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Size</h4>
                    <div class="fw-size-choose">
                        <div class="sc-item">
                            <input type="radio" id="s-size">
                            <label for="s-size">s</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="m-size">
                            <label for="m-size">m</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="l-size">
                            <label for="l-size">l</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="xs-size">
                            <label for="xs-size">xs</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div class="fw-tags">
                        <a href="#">Towel</a>
                        <a href="#">Shoes</a>
                        <a href="#">Coat</a>
                        <a href="#">Dresses</a>
                        <a href="#">Trousers</a>
                        <a href="#">Men's hats</a>
                        <a href="#">Backpack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="{{single_product.ImageUrl}}" alt="">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt active" data-imgbigurl="{{single_product.ImageUrl}}"><img
                                        src="{{single_product.ImageUrl}}" alt=""></div>
                                        {% for p in images %}
                                 <div class="pt" data-imgbigurl="{{p.image.url}}"><img
                                        src="{{p.image.url}}" alt=""></div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>{{single_product.category}}</span>
                                <h3>{{single_product.title}}</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star{%if single_product.average_review < 1%}-o{%endif%}"></i>
                                <i class="fa fa-star{%if single_product.average_review < 2%}-o{%endif%}"></i>
                                <i class="fa fa-star{%if single_product.average_review < 3%}-o{%endif%}"></i>
                                <i class="fa fa-star{%if single_product.average_review < 4%}-o{%endif%}"></i>
                                <i class="fa fa-star{%if single_product.average_review < 5%}-o{%endif%}"></i>
                                <span>(5)</span>
                            </div>
                            <div class="pd-desc">
                                <p>{{single_product.detail}}</p>
                                <h4>৳{{single_product.new_price}} <span>৳{{single_product.old_price}}</span></h4>
                            </div>
                            <div class="pd-color">
                                <h6>Color</h6>
                                <div class="pd-color-choose">
                                    <div class="cc-item">
                                        <input type="radio" id="cc-black">
                                        <label for="cc-black"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-yellow">
                                        <label for="cc-yellow" class="cc-yellow"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-violet">
                                        <label for="cc-violet" class="cc-violet"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-size-choose">
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">s</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="md-size">
                                    <label for="md-size">m</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="lg-size">
                                    <label for="lg-size">l</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="xl-size">
                                    <label for="xl-size">xs</label>
                                </div>
                            </div>
                            
                            <div class="quantity">
                                <div  class="pro-qty">
                                    {% csrf_token %}
                                    <input type="number" value="quantity" min="{{single_product.min_amount}}" max="single_product.amount">
                                </div>
                                <a href="{%url 'Add_to_Shoping_cart' id=single_product.id%}" method="post" class="primary-btn pd-cart">Add To Cart</a>
                            </div>
                            <ul class="pd-tags">
                                <li><span>CATEGORIES</span>: More Accessories, Wallets & Cases</li>
                                <li><span>TAGS</span>: Clothing, T-shirt, Woman</li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Sku : 00012</div>
                                <div class="pd-social">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter-alt"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (02)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h5>Introduction</h5>
                                            <p>{{single_product.detail}}</p>
                                            <h5>Features</h5>
                                            <p>{{single_product.detail}}</p>
                                        </div>
                                        <div class="col-lg-5">
                                            <img src="img/product-single/tab-desc.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Customer Rating</td>
                                            <td>
                                                <div class="pd-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(5)</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Price</td>
                                            <td>
                                                <div class="p-price">$495.00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Add To Cart</td>
                                            <td>
                                                <div class="cart-add">+ add to cart</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Availability</td>
                                            <td>
                                                <div class="p-stock">22 in stock</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Weight</td>
                                            <td>
                                                <div class="p-weight">1,3kg</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Size</td>
                                            <td>
                                                <div class="p-size">Xxl</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Color</td>
                                            <td><span class="cs-color"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="p-category">Sku</td>
                                            <td>
                                                <div class="p-code">00012</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>Comments</h4>
                                    <div class="comment-option">
                                        {%for p in comment_show%}
                                        <div class="co-item">
                                            <div class="avatar-pic">
                                                <img src="img/product-single/avatar-1.png" alt="">
                                            </div>
                                            <div class="avatar-text">
                                                <div class="at-rating">                                                    
                                                    <i class="fa fa-star{%if p.rate < 1%}-o{% endif %}"></i>
                                                    <i class="fa fa-star{%if p.rate < 2%}-o{% endif %}"></i>
                                                    <i class="fa fa-star{%if p.rate < 3%}-o{% endif %}"></i>
                                                    <i class="fa fa-star{%if p.rate < 4%}-o{% endif %}"></i>
                                                    <i class="fa fa-star{%if p.rate < 5%}-o{% endif %}"></i>
                                                </div>
                                                <h5>{{p.user.username}} <span>{{p.created_at}}</span></h5>
                                                <div class="at-reply">{{p.comment}}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                    </div>
                                    <div class="leave-comment">
                                        <h4>Leave A Comment</h4>
                                        <form action="{%url 'comment_add' id=single_product.id%}" class="comment-form" method="post">
                                            {% csrf_token %}
                                            <div class="personal-rating">
                                                <h6>Your Ratind</h6>
                                                <span>
                                                    <select class="star-rating" name="rate">
                                                        <option value="1" name="rate">1
                                                        </option>
                                                        <option value="2" name="rate">2
                                                        </option>
                                                        <option value="3" name="rate">3
                                                        </option>
                                                        <option value="4" name="rate">4
                                                        </option>
                                                        <option value="5" name="rate">5
                                                        </option>
                                                    </select>
                                                </span>
                                                <div class="rating" name="rate"> 
                                                    <span>                                                 
                                                    <i class="fa fa-star-o" value="1" name="rate"></i>
                                                    <i class="fa fa-star-o" value="2" name="rate"></i>
                                                    <i class="fa fa-star-o" value="3" name="rate"></i>
                                                    <i class="fa fa-star-o" value="4" name="rate"></i>
                                                    <i class="fa fa-star-o" value="5" name="rate"></i>
                                                </span>                                                
                                                </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Name">
                                                </div>

                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="subject" name="subject">
                                                </div>
                                                
                                                <div class="col-lg-12">
                                                    <textarea placeholder="Comments" name="comment"></textarea>                                                    
                                                </div>                                            
                                                {% if user.id is not Nones %}
                                                
                                                    <input type="submit" class="site-btn" value="submit" style="color: aliceblue;">
                                                    {% else %}
                                                    <h3>You should login first</h3>
                                                    {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Related Products Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for p in products %}
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                                       
                    <div class="pi-pic">
                        <img src="{{p.ImageUrl}}" alt="">
                        <div class="sale">Sale</div>
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="{%url 'product_single' id=p.id%}">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="category-name">{{p.category}}</div>
                        <a href="#">
                            <h5>{{p.title}}</h5>
                        </a>
                        <div class="product-price">
                            ৳{{p.new_price}}
                            <span>৳{{p.old_price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Related Products Section End -->


{%endblock another_content%}


{% block footer %}
{%include "footer.html"%}
{% endblock footer %}